/* ○ Add basic styles to center the content, add spacing, and style each 
card. For example: 
■ Add a border and padding to each profile card. 
■ Use flexbox or grid for alignment. 
 */

h1 {
  color: yellowgreen;
  font-size: xx-large;
}

div.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 40px;
}

div.profile-card {
  border: white 1px solid;
  text-align: left;
  border-radius: 12px;
  align-items: left;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(236, 123, 123, 0.1);
  color: #59365f;
  text-decoration: none;
  background: #b99ab8;
  }

div.profile-card:hover {
  color: #feffff;
  text-decoration: underline;
}