
/* Basic Elements */
html, body
{
	/* background:  #55012b; */
	background: #411948 url(./assets/sidebar.gif) repeat-y;
	display: block;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

#top-header {
  background: url(./assets/top.jpg) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 366px;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body
{
	color: white;
	font: "trebuchet ms", arial, helvetica, sans;
}

p {
  font-size: 16px;
}

